body .contHeader .titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }
  body .contHeader .titulo img {
    width: 100px;
    position: static;
    top: 1rem;
    left: 40%; }

body .contHeader h1 {
  font-family: "Dela Gothic One", cursive;
  font-style: oblique;
  letter-spacing: 0pt;
  display: inline-block;
  color: white; }

body .contHeader ul {
  list-style: none; }

body .contHeader a {
  font-family: "Dela Gothic One", cursive;
  font-style: italic;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: white;
  font-size: 12pt;
  font-weight: lighter; }
  body .contHeader a:hover {
    color: #aaaaaa; }

body .contHeader .navList {
  margin-bottom: 30px;
  z-index: 1; }
  body .contHeader .navList ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; }
  body .contHeader .navList li {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    position: relative; }
  body .contHeader .navList .prod {
    padding-bottom: 30px;
    position: relative;
    top: 15px; }
    body .contHeader .navList .prod:hover ul {
      display: block; }
    body .contHeader .navList .prod ul {
      position: absolute;
      top: 30px;
      display: none;
      background-color: white;
      padding-top: 0;
      box-shadow: 2px 2px 10px black;
      z-index: 1; }
      body .contHeader .navList .prod ul a {
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        color: #6d6d6d; }
        body .contHeader .navList .prod ul a:hover {
          color: #222222; }
      body .contHeader .navList .prod ul li {
        display: block;
        border-bottom: solid 1px #dadada;
        z-index: 1; }

@media only screen and (max-width: 767px) and (min-width: 5px) {
  header {
    height: 30%; }
  video {
    width: 200px; }
  .carrx {
    width: 80%;
    height: 80%; }
  .titulo img {
    width: 70px; }
  .navList ul {
    display: block; }
  .navList li {
    display: block;
    margin: 10px; }
  .prod ul li {
    display: none; } }

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .navList li {
    padding-left: 20px;
    padding-right: 20px; }
  .carrx {
    width: 60%;
    height: 60%; }
  video {
    width: 300px; } }

body .contFooter {
  font-family: "Roboto", sans-serif;
  line-height: 25pt; }
  body .contFooter .footElement img {
    display: inline; }
  body .contFooter .footElement p {
    display: inline; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  text-align: center; }
  body header {
    background-color: black;
    color: white;
    height: 10rem; }
  body .seccion {
    font-family: "Dela Gothic One", cursive;
    font-weight: lighter; }
    body .seccion .seccion__lista li {
      margin: 20px; }
    body .seccion .seccion__grilla {
      position: relative;
      left: 25%;
      width: 50%;
      height: 60rem;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas: "img car" "img ins" "comprar size"; }
      body .seccion .seccion__grilla .seccion__grilla__foto {
        grid-area: img;
        justify-self: end;
        align-self: end; }
      body .seccion .seccion__grilla .seccion__grilla__caracteristicas {
        grid-area: car;
        justify-self: start;
        align-self: end; }
        body .seccion .seccion__grilla .seccion__grilla__caracteristicas ul li {
          text-align: left; }
      body .seccion .seccion__grilla .seccion__grilla__instrucciones {
        grid-area: ins;
        justify-self: start; }
        body .seccion .seccion__grilla .seccion__grilla__instrucciones ol li {
          text-align: left; }
      body .seccion .seccion__grilla .seccion__grilla__talles {
        grid-area: size;
        align-self: start;
        margin-bottom: 2rem; }
      body .seccion .seccion__grilla .sizeChart table {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        text-align: center;
        font-family: "Roboto", sans-serif; }
      body .seccion .seccion__grilla .seccion__grilla__comprar h2 {
        grid-area: comprar;
        text-decoration: none;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0px; }
    body .seccion .seccion__formulario {
      height: 500px;
      position: relative;
      top: 15px; }
    body .seccion a {
      text-decoration: none;
      color: black;
      font-weight: bolder;
      font-family: "Dela Gothic One", cursive;
      font-weight: lighter; }
      body .seccion a:hover {
        color: #464646; }
    body .seccion h2 {
      font-style: oblique;
      text-decoration: underline; }
    body .seccion .seccion__carousel {
      width: 40%;
      height: 40%;
      margin: auto; }
    body .seccion form {
      font-family: "Roboto", sans-serif; }
    body .seccion ol {
      font-size: 14pt;
      font-family: "Roboto", sans-serif;
      list-style-position: inside; }
      body .seccion ol a {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 12pt; }
    body .seccion ul {
      list-style: none;
      font-size: 14pt;
      font-family: "Roboto", sans-serif; }
    body .seccion table {
      background-color: black; }
    body .seccion th {
      border: white 1px solid;
      color: white; }
    body .seccion td {
      border: white 1px solid;
      color: white; }
    body .seccion h3 {
      font-family: "Roboto", sans-serif; }
    body .seccion .seccion__productos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-wrap: wrap; }
      body .seccion .seccion__productos .productox {
        display: inline-block;
        padding-left: 100px;
        padding-right: 100px; }
        body .seccion .seccion__productos .productox img:hover {
          transform: scale(1.5, 1.5); }
