body{
    .contFooter{
        
        font-family: "Roboto", sans-serif;
        line-height: 25pt;
        .footElement{
            img{
                display: inline;
            }
            p{
                display: inline;
            }
        }
    }
}